.body	{
		padding:0;
		margin:0;
		border-style:none double double double;
		background: #E0EEEE;
		}
div#sign{
	background:#92d3df;
	width:300px;
	height:100px;
	font-size:30px;
	text-align:center;
	line-height:100px;
	float:left;
	outline:#778899 double;
	font-family: Georgia;
	font-style:italic;
		}
div#sign a{
	display:block;
	overflow:hidden;
	text-decoration: none;
		}
div#sign a:link{
	color:#000000;
		}
div#sign a:visited{
	color:#000000;
		}
div#sign a:hover{
	color:#000000;
		}
div#sign a:active{
	color:#000000;
		}
div#goal{
	background:#B0B0B0;
	width:1200px;
	height:100px;
	font-size:30px;
	text-align:center;
	line-height:100px;
	outline:#778899 double;
		}
div#header{
	background:#B0E0E6;
	width:1200px;
	height:40px;
	font-family: 黑体;
		}
div#header ul{
	list-style-type:none;
	width:1200px;
	margin:0;
	padding:0;
		}
div#header li{
	list-style:none;
	float:left;
	position:relative;
		}
div#header a{
	display:block;
	width:400px;
	height:40px;
	line-height:40px;
	overflow:hidden;
	text-decoration: none;
	font-size:20px;
	text-align:center;
	
		}
div#header a:link{
	color:#000000;
		}
div#header a:visited{
	color:#000000;
		}
div#header a:hover{
	color:#000000;
	text-decoration:underline;
		}
div#header a:active{
	color:#000000;
	text-decoration:underline; 
		}
div#left{
	float:left;
	background:#B0B0B0;
	min-height:700px;
	width:100px;
	font-style:italic;
	font-family: 黑体;
		}
div#main{
	float:left;
	background:#87CEEB;
	min-height:700px;
	width:1100px;
	font-style:italic;
	font-family: 黑体;
		}
div#footer{
	float:left;
	height:20px;
	width:1200px;
	text-align:center;
	line-height:20px;
	background:#878787;
		}