body
		{
		text-align: left;
		margin: 0;
		padding: 0;
		border: 0;
		background: #f9f9f9 url(/ui/holder.gif) top center repeat-y;
		}
div#sign{
	background:#99CCFF;
	width:300px;
	height:100px;
	font-size:30px;
	text-align:center;
	line-height:100px;
	float:left;
	display:block;
		}
div#goal{
	background:#B0B0B0;
	width:900px;
	height:100px;
	font-size:30px;
	text-align:center;
	line-height:100px;
	float:left;
		}
div#header{
	background:#FFFFF0;
	width:1200px;
	height:130px;
		}
div#header ul{
	list-style-type:none;
	width:1200px;
	margin:0;
	padding:0;
		}
div#header li{
	list-style:none;
	float:left;
	position:relative;
	outline:#778899 solid;
		}
div#header a{
	display:block;
	width:400px;
	height:30px;
	overflow:hidden;
	text-decoration: none;
	font-size:20px;
	text-align:center;
		}
div#main{
	background:#FFF;
	min-height:900px;
	width:1200px;
		}
div#footer{
	height:50px;
	width:1200px;z
	text-align:center;
	line-height:50px;
	background:#B0B0B0;
		}